.react-phylogeny-tree-conext-menu {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 0;
  position: fixed;
  /* transform: scale3d(0.75, 0.75, 1); */
  transition-property: transform, opacity;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
  z-index: 1;
}

.react-phylogeny-tree-conext-menu ul {
  padding: 0;
  margin: 0;
}

.react-phylogeny-tree-conext-menu li {
  height: 40px;
  background: none;
  border: none;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: block;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  padding: 0 16px;
  outline: none;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.react-phylogeny-tree-conext-menu li:hover,
.react-phylogeny-tree-conext-menu li:focus,
.react-phylogeny-tree-conext-menu li:active {
  background: #eee;
}

.react-phylogeny-tree-conext-menu > ul + ul {
  border-top: 1px solid #e0e0e0;
}

li.react-phylogeny-tree-context-menu-has-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.react-phylogeny-tree-context-menu-toggle {
  width: 24px;
  height: 12px;
  margin-right: 4px;
  border-radius: 12px;
  background: #dbdbdb;
  position: relative;
}

.react-phylogeny-tree-context-menu-toggle::before {
  content: '';
  height: 20px;
  width: 20px;
  margin-left: -8px;
  background: #b8b8b8;
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  top: -4px;
  transition-property: transform;
  transition: 0.28s cubic-bezier(.4,0,.2,1);
}

.react-phylogeny-tree-context-menu-toggle.is-active {
  background: rgba(60, 115, 131, 0.54);
}

.react-phylogeny-tree-context-menu-toggle.is-active::before {
  transform: translateX(20px);
  background: #3c7383;
}